DB_PROTOCOL=mongodb+srv
DB_HOSTS=cluster0.xxxxx.mongodb.net
DB_NAME=storeManager
DB_USER=
DB_PASSWORD=
DB_QUERY=retryWrites=true&w=majority&appName=Cluster0
# Optional fallback (if set, this takes priority over generated URI)
# DB_URI=

REDIS_URI=
REDIS_PORT=
REDIS_PASS=

JWT_SECRET=
JWT_EXPIRES=20m

SRORAGE_LOCATION=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
